@font-face {
  font-family: chill;
  src: url("./fonts/Chillax-Regular.woff");
}
@font-face {
  font-family: chalu;
  src: url("./fonts/Satoshi-Light.woff");
}
@font-face {
  font-family: lq;
  src: url("./fonts/Lq38.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: chill;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  color: #fff;
}

nav {
  max-width: 2000px;
  margin: 0 auto;
}

nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
nav .menu-icon {
  display: block;
}
nav .logo-name img {
  padding-left: 1rem;
}
nav .links {
  display: flex;
  gap: 0.5rem;
}
nav .links .display-block {
  display: none;
}
nav .links h4 {
  font-family: lq;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  outline: none;
  border: none;
  padding: 1rem 1.25rem;
  border-radius: 8px;
  background-color: #1e1e1e;
  text-transform: uppercase;
}
nav .links h4:nth-child(7) {
  background-color: #cebd63;
  color: #222;
}
nav .links h4:nth-child(6) .zero {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #222;
  padding-top: 2px;
  border-radius: 10px;
  background-color: #cebd63;
  font-family: lq;
  text-align: center;
}

section {
  max-width: 2000px;
}

main {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}
main section.view1 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view1 .top {
  height: -moz-fit-content;
  height: fit-content;
}
main section.view1 .top img {
  width: 100%;
  border-radius: 10px;
}
main section.view1 .bottom {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 10px;
  background-color: #1e1e1e;
  flex-wrap: no-wrap;
}
main section.view1 .bottom .top-text {
  font-family: lq;
  font-size: 0.95rem;
}
main section.view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main section.view1 .bottom .text div .round-btn {
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #555;
  background-color: #292929;
}
main section.view1 .bottom .text div .round-btn i {
  font-size: 1.5rem;
}
main section.view1 .bottom .text h1 {
  width: 85%;
  line-height: 1.2;
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
main section.view1 .bottom .text .mid-text {
  font-family: chalu;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5;
  opacity: 0.5;
}
main section.view1 .bottom .text div {
  padding-top: 0.5rem;
}
main section.view2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
}
main section.view2 small {
  font-family: lq;
  font-size: 0.9rem;
  opacity: 0.5;
}
main section.view2 p {
  font-size: 2.5rem;
}
main section.view3 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view3 .top img {
  width: 100%;
  border-radius: 10px;
}
main section.view3 .bottom {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: space-between;
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 10px;
}
main section.view3 .bottom .top-text {
  font-family: lq;
  font-size: 0.95rem;
}
main section.view3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main section.view3 .bottom .text h1 {
  width: 85%;
  line-height: 1.2;
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
main section.view3 .bottom .text .para .mid-text {
  font-family: chalu;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  opacity: 0.5;
}
main section.view4 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view4 .top img {
  width: 100%;
  border-radius: 10px;
}
main section.view4 .bottom {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 10px;
  background-color: #1e1e1e;
}
main section.view4 .bottom .top-text {
  font-family: lq;
  font-size: 0.95rem;
}
main section.view4 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main section.view4 .bottom .text h1 {
  width: 85%;
  line-height: 1.2;
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
main section.view4 .bottom .text .mid-text {
  font-family: chalu;
  font-weight: 300;
  line-height: 1.5;
  opacity: 0.5;
}
main section.view5 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
main section.view5 h3 {
  font-size: 2rem;
  text-transform: uppercase;
}
main section.view5 .hide {
  display: none;
}
main section.view6 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: normal;
  padding: 1rem;
}
main section.view6 .cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: space-between;
  padding: 1rem;
  background-size: cover;
  border-radius: 8px;
}
main section.view6 .cards .flex-top {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin: 1.5rem;
}
main section.view6 .cards .flex-bottom {
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background: transparent;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}
main section.view6 .cards .flex-bottom h3 {
  font-weight: 200;
  letter-spacing: 1px;
}
main section.view6 .cards .flex-bottom p {
  font-family: lq;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
main section.view6 .card1 {
  background-image: url("./images/card1.webp");
  aspect-ratio: 1/1;
}
main section.view6 .card2 {
  background-image: url("./images/card2.webp");
  aspect-ratio: 1/1;
}
main section.view6 .card3 {
  background-image: url("./images/card3.webp");
  aspect-ratio: 1/1;
}
main section.view6 .round-glass {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.15);
}
main section.view6 .round-glass i {
  font-size: 1.2rem;
  font-weight: 100;
  margin: 0;
}
main section.view6 .round-glass:hover {
  border: 1px solid #fff;
  cursor: pointer;
}
main section.view7 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view7 .top img {
  width: 100%;
  border-radius: 10px;
}
main section.view7 .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 10px;
  background-color: #1e1e1e;
}
main section.view7 .bottom .header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main section.view7 .bottom .header h3 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}
main section.view7 .bottom .header p {
  font-family: lq;
  font-size: 0.95rem;
  color: #888;
}
main section.view7 .bottom div.hide {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
}
main section.view7 .bottom div.hide .round-btn {
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #555;
  background-color: #292929;
}
main section.view7 .bottom div.hide .round-btn i {
  font-size: 1.5rem;
}
main section.view8 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: uppercase;
  background-color: #cebd63;
  color: #000;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}
main section.view8 p {
  font-family: lq;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
main section.view8 h3 {
  font-size: 2.6rem;
  font-weight: 200;
  line-height: 1;
}
main section.view8 button {
  width: 100%;
  font-family: lq;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: #000;
}
main section.view8 button i {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: #888;
}

footer {
  max-width: 2000px;
}

footer {
  height: 600px;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 92vw;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "aside" "section" "footer";
  margin: 0 auto;
}
footer .aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-area: aside;
  padding: 2rem;
  border-radius: 10px;
  background-color: #1e1e1e;
  justify-content: space-between;
}
footer .aside .flex-bottom {
  display: flex;
  flex-direction: row;
}
footer .aside .flex-bottom .round-btn {
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #555;
  background-color: #292929;
}
footer .aside .flex-bottom .round-btn i {
  font-size: 1.5rem;
}
footer .aside .flex-bottom .round-glass {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.15);
  margin-left: 1rem;
}
footer .aside .flex-bottom .round-glass i {
  font-size: 1.2rem;
  font-weight: 100;
  margin: 0;
}
footer section.section {
  grid-area: section;
  display: flex;
  flex-direction: column;
  gap: 0;
  border-radius: 15px;
  text-transform: uppercase;
  background-color: #1e1e1e;
}
footer section.section .list-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;
}
footer section.section .list-content h3 {
  padding-bottom: 1.5rem;
  font-weight: 200;
}
footer section.section .list-content ul.lists {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
}
footer section.section .list-content ul.lists li {
  font-family: lq;
  font-size: 1rem;
  opacity: 0.5;
}
footer section.section .list-content button.more-btn {
  font-family: lq;
  font-size: 14px;
  font-weight: 400;
  color: #222;
  outline: none;
  border: none;
  margin-top: 1.5rem;
  padding: 1rem 1.25rem;
  border-radius: 8px;
  background-color: #cebd63;
  text-transform: uppercase;
}
footer .credits {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  width: 100%;
  grid-area: footer;
  border-radius: 10px;
  background-color: #1e1e1e;
  text-transform: uppercase;
  padding: 1rem;
}
footer .credits p {
  font-family: lq;
  font-size: 1rem;
  color: #888;
}
footer .credits .move-top {
  display: flex;
  gap: 1rem;
  align-items: center;
}
footer .credits small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.15);
}
footer .credits small i {
  font-size: 1.2rem;
  font-weight: 100;
  margin: 0;
}
footer .credits a {
  color: #fff;
  font-family: lq;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1px;
}

@media (min-width: 950px) {
  nav .links .display-block {
    display: block;
  }
  nav .menu-icon {
    display: none;
  }
  main section.view1 {
    flex-direction: row;
  }
  main section.view1 .top,
  main section.view1 .bottom {
    width: 50%;
  }
  main section.view1 .bottom {
    padding: 3.5rem;
  }
  main section.view1 .bottom .text h1 {
    width: 100%;
    font-size: 4rem;
  }
  main section.view1 .bottom .text .mid-text {
    width: 90%;
  }
  main section.view2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin: 2rem 0;
    padding: 0;
  }
  main section.view2 p {
    font-size: 4rem;
  }
  main section.view3 {
    flex-direction: row-reverse;
  }
  main section.view3 .top,
  main section.view3 .bottom {
    width: 50%;
  }
  main section.view3 .bottom {
    padding: 4rem;
  }
  main section.view3 .bottom .text h1 {
    width: 100%;
    font-size: 3rem;
  }
  main section.view3 .bottom .text .para {
    display: flex;
    gap: 3rem;
    white-space: 0;
  }
  main section.view3 .bottom .text .para .mid-text {
    width: 43%;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  main section.view4 {
    flex-direction: row;
  }
  main section.view4 .top,
  main section.view4 .bottom {
    width: 50%;
  }
  main section.view4 .bottom {
    padding: 4rem;
  }
  main section.view4 .bottom .text h1 {
    font-size: 3rem;
  }
  main section.view4 .bottom .text .para {
    display: flex;
    gap: 3rem;
    white-space: 0;
  }
  main section.view4 .bottom .text .para .mid-text {
    width: 43%;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  main section.view5 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  main section.view5 h3 {
    font-size: 3rem;
    font-weight: 200;
    margin-left: 2rem;
  }
  main section.view5 div.hide {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
  }
  main section.view5 div.hide .round-btn {
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #555;
    background-color: #292929;
  }
  main section.view5 div.hide .round-btn i {
    font-size: 1.5rem;
  }
  main section.view6 {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 1rem;
  }
  main section.view6 .cards {
    width: 32%;
    padding: 1rem;
    background-size: cover;
    border-radius: 8px;
  }
  main section.view7 {
    flex-direction: row;
  }
  main section.view7 .top,
  main section.view7 .bottom {
    width: 50%;
  }
  main section.view7 .bottom {
    padding: 3rem;
  }
  main section.view7 .bottom .text h1 {
    width: 100%;
    font-size: 4rem;
  }
  main section.view7 .bottom .text .mid-text {
    width: 90%;
  }
  main section.view8 {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 4rem;
  }
  main section.view8 .left {
    width: 70%;
  }
  main section.view8 .left p {
    font-size: 1rem;
  }
  main section.view8 .left h3 {
    font-size: 5rem;
  }
  main section.view8 .left .right {
    width: 30%;
  }
  main section.view8 .left .right button {
    padding: 1rem;
  }
  footer {
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 100px;
    grid-template-areas: "aside section" "aside footer";
  }
  footer section.section .list-content {
    flex-direction: row;
    gap: 8rem;
  }
  footer section.section .list-content h3 {
    padding-bottom: 2rem;
  }
  footer .credits {
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
  }
  footer .credits small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
  footer .credits small i {
    font-size: 1.2rem;
    font-weight: 100;
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */